[submodule "ext/cerbero"]
	path = ext/cerbero
	url = https://git.zrythm.org/alex/cerbero.git
  branch = zrythm
[submodule "ext/macos-installer-builder"]
	path = ext/macos-installer-builder
	url = https://github.com/KosalaHerath/macos-installer-builder.git
